.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(17, 104, 203), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(17, 104, 203), rgba(37, 117, 252, 1))
}

.error-handling {
    color: red;
    margin-bottom: 3rem;
}

/* Login inputs size */
.form-control-lg {  
    font-size: 1rem !important;   
}

/* Login button size */
.btn-lg { 
    font-size: 1rem !important; 
}

.loginButton{
    background: rgba(37, 117, 252, 1);
    color: white;
}

.loginButton:hover {
    color:#fff; background: rgb(74, 143, 221);
}
